{% extends "admin/base_site.html" %}

{% block content %}
  <form method="get" style="margin-bottom: 16px;">
    <label for="calculation_input_id"><strong>GebruikersInvoer</strong></label>
    <select id="calculation_input_id" name="calculation_input_id">
      <option value="">-- selecteer --</option>
      {% for ci in gebruikers_invoer %}
        <option value="{{ ci.id }}" {% if selected_id and ci.id == selected_id %}selected{% endif %}>
          #{{ ci.id }} ({{ ci.bouwjaar }})
        </option>
      {% endfor %}
    </select>
    <button type="submit" class="button">Toon</button>
  </form>

  {% if selected_input %}
      <h2>Input</h2>
      <table class="adminlist" style="margin-bottom: 16px;">
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for row in input_rows %}
            <tr>
              <td>{{ row.field }}</td>
              <td>{{ row.value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2>Warmteprogramma</h2>
      <table class="adminlist" style="margin-bottom: 16px;">
        <thead>
          <tr>
            <th>Categorie</th>
            <th>Start</th>
            <th>Eind</th>
            <th>Warmtenet mogelijk</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ warmteprogramma_row.categorie }}</td>
            <td>{{ warmteprogramma_row.warmtenet_start }}</td>
            <td>{{ warmteprogramma_row.warmtenet_stop }}</td>
            <td>{{ warmteprogramma_row.warmtenet_mogelijk }}</td>
          </tr>
        </tbody>
      </table>

    <h2>Energieberekening</h2>
    <table class="adminlist">
      <thead>
        <tr>
          <th>Scenario</th>
          <th>Type</th>
          <th>Woning type</th>
          <th>Vermogen CV</th>
          <th>Vermogen [kW/w]</th>
          <th>Vermogen [kW/vve]</th>
          <th>Gas [m³/j]</th>
          <th>Capaciteit [kWh/j/w]</th>
          <th>Capaciteit [GJ/j/w]</th>
        </tr>
      </thead>
      <tbody>
        {% for row in energie_rows %}
          <tr>
            <td>{{ row.scenario }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.woning_type }}</td>
            <td>{{ row.vermogen_cv }}</td>
            <td>{{ row.vermogen_woning }}</td>
            <td>{{ row.vermogen_vve }}</td>
            <td>{{ row.gas }}</td>
            <td>{{ row.cap_kwh }}</td>
            <td>{{ row.cap_gj }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Stadsverwarmingsberekening</h2>
    <table class="adminlist">
      <thead>
        <tr>
          <th>Scenario</th>
          <th>Klanttype</th>
          <th>Producttype</th>
          <th>Kostetype</th>
          <th>Eenheid</th>
          <th>Interval</th>
          <th>Vermogen berekenen op</th>
          <th>kW_min</th>
          <th>kW_max</th>
          <th>Waarde 1</th>
          <th>Waarde 2</th>
          <th>Bijbehorend vermogen CV [kW/vve]</th>
          <th>Bijbehorend vermogen TAP [kW/vve]</th>
          <th>Bijbehorend vermogen Koude [kW/vve]</th>
          <th>Te berekenen vermogen [kW/vve]</th>
          <th>Is tussen mix max</th>
          <th>Is boven max</th>
          <th>Waarde Vast</th>
          <th>Waarde Variabel</th>
          <th>Waarde Geclassificeerd</th>
          <th>Factor naar jaar</th>
          <th>Factor collectief</th>
          <th>Stadsverwarming kosten totaal</th>
          <th>Stadsverwarming kosten particulier warmte</th>
          <th>Stadsverwarming kosten particulier koude</th>
          <th>Stadsverwarming kosten zakelijk warmte</th>
          <th>Stadsverwarming kosten zakelijk warmte + koude</th>
        </tr>
      </thead>
      <tbody>
        {% for row in stadsverwarming_rows %}
          <tr>
            <td>{{ row.scenario }}</td>
            <td>{{ row.klanttype }}</td>
            <td>{{ row.producttype }}</td>
            <td>{{ row.kostetype }}</td>
            <td>{{ row.eenheid }}</td>
            <td>{{ row.interval }}</td>
            <td>{{ row.vermogen_berekenen_op }}</td>
            <td>{{ row.kw_min }}</td>
            <td>{{ row.kw_max }}</td>
            <td>{{ row.waarde_1 }}</td>
            <td>{{ row.waarde_2 }}</td>
            <td>{{ row.vermogen_cv_vve }}</td>
            <td>{{ row.vermogen_tap_vve }}</td>
            <td>{{ row.vermogen_koude_vve }}</td>
            <td>{{ row.te_berekenen_vermogen }}</td>
            <td>{{ row.is_tussen_mix_max }}</td>
            <td>{{ row.is_boven_max }}</td>
            <td>{{ row.waarde_vast }}</td>
            <td>{{ row.waarde_variabel }}</td>
            <td>{{ row.waarde_geclassificeerd }}</td>
            <td>{{ row.factor_naar_jaar }}</td>
            <td>{{ row.factor_collectief }}</td>
            <td>{{ row.stadsverwarming_kosten_totaal }}</td>
            <td>{{ row.stadsverwarming_kosten_particulier_warmte }}</td>
            <td>{{ row.stadsverwarming_kosten_particulier_koude }}</td>
            <td>{{ row.stadsverwarming_kosten_zakelijk_warmte }}</td>
            <td>{{ row.stadsverwarming_kosten_zakelijk_warmte_koude }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Stadsverwarming totalen per scenario</h2>
    <table class="adminlist">
      <thead>
        <tr>
          <th>Scenario</th>
          <th>Stadsverwarming kosten particulier warmte</th>
          <th>Stadsverwarming kosten particulier koude</th>
          <th>Stadsverwarming kosten zakelijk warmte</th>
          <th>Stadsverwarming kosten zakelijk warmte + koude</th>
        </tr>
      </thead>
      <tbody>
        {% for row in stadsverwarming_totals_rows %}
          <tr>
            <td>{{ row.scenario }}</td>
            <td>{{ row.stadsverwarming_kosten_particulier_warmte }}</td>
            <td>{{ row.stadsverwarming_kosten_particulier_koude }}</td>
            <td>{{ row.stadsverwarming_kosten_zakelijk_warmte }}</td>
            <td>{{ row.stadsverwarming_kosten_zakelijk_warmte_koude }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Subsysteemberekening</h2>
    <table class="adminlist">
      <thead>
        <tr>
          <th>Subsysteem</th>
          <th>Scenario</th>
          <th>Calculation method</th>
          <th>Afschrijving [€/w/j]</th>
          <th>Onderhoud [€/w/j]</th>
          <th>TCO [€/w/j]</th>
        </tr>
      </thead>
      <tbody>
        {% for row in subsysteem_rows %}
          <tr>
            <td>{{ row.naam }}</td>
            <td>{{ row.scenario }}</td>
            <td>{{ row.method }}</td>
            <td>{{ row.afschrijving }}</td>
            <td>{{ row.onderhoud }}</td>
            <td>{{ row.tco }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Hoofdsysteemberekening</h2>
    <table class="adminlist">
      <thead>
        <tr>
          <th>Hoofdsysteem</th>
          <th>Scenario</th>
          <th>Cap TAP [GJ/w/j]</th>
          <th>Cap CV [GJ/w/j]</th>
          <th>Cap GKW [GJ/w/j]</th>
          <th>Cap totaal [GJ/w/j]</th>
          <th>Elek TAP [GJ/w/j]</th>
          <th>Elek CV [GJ/w/j]</th>
          <th>Elek GKW [GJ/w/j]</th>
          <th>Prijs TAP [€/GJ]</th>
          <th>Prijs CV [€/GJ]</th>
          <th>Prijs GKW [€/GJ]</th>
          <th>Kosten TAP [€/w/j]</th>
          <th>Kosten CV [€/w/j]</th>
          <th>Kosten GKW [€/w/j]</th>
          <th>Energiekosten totaal [€/w/j]</th>
          <th>TCO [€/w]</th>
        </tr>
      </thead>
      <tbody>
        {% for row in hoofdsysteem_rows %}
          <tr>
            <td>{{ row.naam }}</td>
            <td>{{ row.scenario }}</td>
            <td>{{ row.cap_tap_gj }}</td>
            <td>{{ row.cap_cv_gj }}</td>
            <td>{{ row.cap_gkw_gj }}</td>
            <td>{{ row.cap_totaal_gj }}</td>
            <td>{{ row.elek_tap_gj }}</td>
            <td>{{ row.elek_cv_gj }}</td>
            <td>{{ row.elek_gkw_gj }}</td>
            <td>{{ row.prijs_tap }}</td>
            <td>{{ row.prijs_cv }}</td>
            <td>{{ row.prijs_gkw }}</td>
            <td>{{ row.kosten_tap }}</td>
            <td>{{ row.kosten_cv }}</td>
            <td>{{ row.kosten_gkw }}</td>
            <td>{{ row.kosten_totaal }}</td>
            <td>{{ row.tco }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Hoofdsysteem TCO (incl. subsystemen)</h2>
    <table class="adminlist">
      <thead>
        <tr>
          <th>Hoofdsysteem</th>
          <th>Subsystemen</th>
          <th>Hoofdsysteem TCO Laag [€]</th>
          <th>Subsystemen TCO Laag [€]</th>
          <th>TCO Laag [€]</th>
          <th>Hoofdsysteem TCO Midden [€]</th>
          <th>Subsystemen TCO Midden [€]</th>
          <th>TCO Midden [€]</th>
          <th>Hoofdsysteem TCO Hoog [€]</th>
          <th>Subsystemen TCO Hoog [€]</th>
          <th>TCO Hoog [€]</th>
        </tr>
      </thead>
      <tbody>
        {% for row in hoofdsysteem_tco_sum_rows %}
          <tr>
            <td>{{ row.naam }}</td>
            <td>{{ row.subsystemen }}</td>
            <td>{{ row.hoofdsysteem_tco_laag }}</td>
            <td>{{ row.subsystemen_tco_laag }}</td>
            <td>{{ row.tco_laag }}</td>
            <td>{{ row.hoofdsysteem_tco_midden }}</td>
            <td>{{ row.subsystemen_tco_midden }}</td>
            <td>{{ row.tco_midden }}</td>
            <td>{{ row.hoofdsysteem_tco_hoog }}</td>
            <td>{{ row.subsystemen_tco_hoog }}</td>
            <td>{{ row.tco_hoog }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Eliminatie</h2>
    <table class="adminlist" style="margin-bottom: 16px;">
      <thead>
        <tr>
          <th>Hoofdsysteem</th>
          <th>is_mogelijk</th>
          <th>Redenen</th>
        </tr>
      </thead>
      <tbody>
        {% for row in eliminatie_rows %}
          <tr>
            <td>{{ row.hoofdsysteem }}</td>
            <td>{{ row.is_mogelijk }}</td>
            <td>
              {% if row.redenen %}
                <ul style="margin: 0; padding-left: 16px;">
                  {% for r in row.redenen %}
                    <li>{{ r }}</li>
                  {% endfor %}
                </ul>
              {% else %}

              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
